* {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

a:hover {
  cursor: pointer;
}

#wrapper {
  .content {
    width: 94%;
    max-width: 800px;
    margin: auto;
    #cover-logo {
      margin: 3em 0;
      width: 100%;
    }
    #tag-line {
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      margin: 0 0 2em 0;
    }
    .band-image {
      width: 100%;
      margin-bottom: 0.25em;
    }
    .credit {
      text-align: left;
      font-size: 1em;
      margin-bottom: 1em;
      opacity: 0.5;
    }
    .group-info {
      text-align: left;
      font-size: 1.3em;
      float: left;
      width: 48%;
      margin: 0;
      @media (max-width: $break-point) {
        float: none;
        width: 100%;
      }
    }
    .record-img {
      width: 50%;
      float: right;
      margin: 0;
      transition: all 0.5s;
      @media (max-width: $break-point) {
        float: none;
        width: 100%;
      }
    }
    .video {
      margin-top: 1em;
      transition: all 0.5s;
      @media (max-width: $break-point) {
        height: 300px;
      }
    }
    h3 {
      text-align: center;
      font-size: 3em;
    }
    #home-glyphs {
      text-align: center;
      .glyphicon {
        font-size: 6em;
        margin: 0.5em;
        @media (max-width: $break-point) {
          display: block;
        }
      }
    }
    p {
      font-size: 1.5em;
      text-align: center;
    }
  }


  footer {
    #links-container {
      text-align: center;
      margin: 2em 0;
      img {
        width: 3em;
        transition: all 0.5s;
        margin: 0 0.5em;
        opacity: 0.6;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    p {
      text-align: center;
    }
  }
}

.clear {
  clear: both;
}
