* {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

a:hover {
  cursor: pointer;
}

#wrapper {
  .content {
    width: 94%;
    max-width: 800px;
    margin: auto;
    #cover-logo {
      margin: 3em 0;
      width: 100%;
    }
    #tag-line {
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      margin: 0 0 2em 0;
    }
    #news {


      p {
      text-align: center;
      display: inline-block;
      margin: auto;
      // border: solid 1px red;
      }
    }
    .band-image {
      width: 100%;
      margin-bottom: 0.25em;
    }
    .credit {
      text-align: left;
      font-size: 1em;
      margin-bottom: 1em;
      opacity: 0.5;
    }
    .group-info {
      text-align: left;
      font-size: 1.3em;
      float: left;
      width: 48%;
      margin: 0;
      @media (max-width: $break-point) {
        float: none;
        width: 100%;
      }
    }
    #blesst-bio {
      display: inline-block;
      text-align: left;
    }
    #blesst-record-img {
      width: 100%;
      float: none;
      margin: auto;
    }
    .record-img {
      width: 50%;
      float: right;
      margin: 0;
      transition: all 0.5s;
      @media (max-width: $break-point) {
        float: none;
        width: 100%;
      }
    }
    .video {
      margin-top: 1em;
      transition: all 0.5s;
      @media (max-width: $break-point) {
        height: 300px;
      }
    }
    h3 {
      text-align: center;
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
      text-align: center;
    }
      // -------------------shop
      .item {
        display: inline-block;
        img {
          width: 100%;
        } &:hover {
          img {
            opacity: 0.8;
            }
          .img-wrap {
              background-color: black;
          }
        }
        figcaption {
          text-align: center;
          margin: 5px 0;
          background-color: rgba(0, 0, 0, 0);
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      #individual-item-div {
        img {
          float: left;
          width: 45%;
        }
        p {
          font-size: 1.25em;
          float: right;
          width: 45%;
          text-align: left;
        }
      }
    @media (max-width: $break-point) {
      .item {
        display: block;
        margin: 0 auto 1em auto;
        width: 100%;
      }
      #individual-item-div {
        img, p {
          float: none;
          width: 100%;
        }
      }
    }
    @media (max-width: $break-point) {
        .content {
        width: 98%;
        max-width: 400px;

      }
    }
  }



  footer {
    padding-top: 20px;
    #links-container {
      text-align: center;
      margin: 2em 0;
      img {
        width: 3em;
        transition: all 0.5s;
        margin: 0 0.5em;
        opacity: 0.6;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    p {
      text-align: center;
      font-size: 1.5em;
    }
    #copy {
      font-size: 1em;
    }
  }
}

.clear {
  clear: both;
}
