* {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

a:hover {
  cursor: pointer;
}

#wrapper {
  header {

  }
  #content {
    width: 94%;
    max-width: 800px;
    margin: auto;
    #cover-logo {
      margin: 3em 0;
      width: 100%;
    }
    #tag-line {
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      margin: 0 0 2em 0;
    }
  }
#twitter-embed {
    width: 94%;
    max-width: 800px;
    margin: auto;
  }
  footer {
    #links-container {
      text-align: center;
      margin: 2em 0;
      img {
        width: 3em;
        transition: all 0.5s;
        margin: 0 0.5em;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
    p {
      text-align: center;
    }
  }
}
